.value-filter {
  border-radius: 10px;
  background-color: rgba(31, 112, 127, .3);
  padding: 1rem;
  backdrop-filter: blur(2px);
}

.value-filter__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.value-filter__title {
  display: block;
}

.value-filter__title, .value-filter__subtitle {
  margin: 0.5rem;
}

.filter-button {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  background-color: transparent;
  border: none;
}

.filter-button.active img {
  filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
}

.filter-button_color.active::after {
  position: relative;
  top: -3px;
  left: -4px;
  content: "\2713";
  font-size: 1.2rem;
  // width: 10px;
  // height: 10px;
  color: #121c1e;
}

.filter-button__image {
  width: 1.2rem;
  height: 1.2rem;
}

.size .filter-button__image:first-of-type {
  width: 1.5rem;
  height: 1.5rem;
}
