.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer__img {
  height: 40px;
  opacity: 0.8;
}

.footer__img:hover {
  opacity: 1;
}

.footer__text {
  padding-right: 1vw;
}
