@use './vars.scss';

.game-page,
.left,
.right,
.tree,
.settings,
.tree-selection,
.background-selection,
.lights-selection, 
.option-selection,
.toy-selection,
.completed,
.completed-trees {
  display: flex;
}

.game-page {
  flex-direction: row;
  backdrop-filter: blur(3px) ;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}


.settings {
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.settings-button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
  background-position: center;
  background-size: contain;

  opacity: 0.85;

  &:hover {
    opacity: 1;
  }
}

.sound {
  background-image: url(../assets/svg/mute.svg);
}

.sound.active {
  background-image: url(../assets/svg/audio.svg);
}

.snow {
  background-image: url(../assets/svg/snowflake.svg);
}

.stage {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.tree {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  height: $main-height;
  width: auto;

  background-size: 31.25em auto;

  background-repeat: no-repeat;
  background-position: center bottom;
}

.left,
.right {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 25%;
  height: $main-height;

  padding-left: 2em;
  padding-right: 2em;
}

.game-title {
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

.tree-selection,
.background-selection,
.toy-selection,
.ligths-selection {
  flex-direction: row;
  flex-wrap: wrap;
  align-items:flex-start;
  gap: 0.5em 0.5em;

}

.tree-element {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.tree-element,
.bg-element,
.toy-element {
  background-color: rgba(255, 255, 255, .5);
  border-radius: 5px;
}

.tree-element {
  width: 5em;
  height: 5em;
}

.toy-element {
  display: flex;
  position: relative;
  justify-content: end;
  align-items: flex-end;
  width: 4.5em;
  height: 4.5em;
}

.toy-image {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 3.5em;
  height: 3.5em;
}

.bg-element {
  width: 4.5em;
  height: 4.5em;
  background-size: cover;
}

.lights-selection {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;

  width: 100%;
}

.rested-toys {
  color: #ffffff;
  font-size: 0.9em;

  padding: 2px 6px;
  background-color: #24C5DB;
  border-radius: 50%;
}

.option-selection {
  flex-direction: row;
}

.completed {
  flex-direction: column;;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.completed__container {
  width: 90%;
  overflow: auto;
}

.completed-trees {
  flex-direction: row;
  gap: 0 0.5rem;
}

.option-button {
  margin-top: auto;

  color: #ffffff;
  text-align: center;
  font-size: 1rem;

  padding: 0.5em 1em;

  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #278d9f;
  backdrop-filter: blur(2px);

}

.option-button:hover {
  background-color: #278d9f;
  border: 1px solid #ffffff;
}

.option-button:active {
  background-color: #121c1e;
  border: 1px solid #278d9f;;
}

@import './lights.scss';
@import './lightsSwicht.scss';


@media (max-width: 1024px) {
  .left,
  .right {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }  

  // .background-selection,
  .toy-selection {
    justify-content: flex-end;
    // align-items: center;
  }


  .rested-toys { 
    color: #121c1e;
  }

  .completed {
    display: none;
  }

}