@use './vars.scss';

html, body {
  height: 100%; 
}

body {
  font-family: $main-font-family;
  color: $main-font-color;

  margin: 0;
  background-color: $dark-color;
}

button {
  cursor: pointer;
}

@import './header.scss';
@import './main.scss';
@import './footer.scss';


@media (max-width: 1024px) {
  body {
    font-size: 12px;
  }
}
