@use './vars.scss';

html, body {
  height: 100%; 
}

body {
  font-family: $main-font-family;
  color: $main-font-color;

  margin: 0;
  background-color: $dark-color;
}

@import './header.scss';
@import './main.scss';
@import './footer.scss';
