/* The switch - the box around the slider */
.light-switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.3rem;

  margin-top: 0.5em;
}

/* Hide default HTML checkbox */
.light-switch__input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.light-switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(39, 141, 159, 1); 
  -webkit-transition: .4s;
  transition: .4s;
}

.light-switch__slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 0.2rem;
  top: 0.2rem;
  
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

input + .light-switch__slider {
  background-color: rgba(39, 141, 159, 1);
}

input:focus + .light-switch__slider {
  box-shadow: 0 0 1px rgba(39, 141, 159, 1);
}


input:checked + .light-switch__slider{
  background-color: rgba(39, 141, 159, 1);
}

input:focus + .light-switch__slider{
  box-shadow: 0 0 1px rgba(39, 141, 159, 1);
}

input:checked + .light-switch__slider:before {
  -webkit-transform: translateY(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}

/* Rounded sliders */
.light-switch__slider {
  border-radius: 34px;
}

.light-switch__slider:before {
  border-radius: 50%;
}

.light-button {
  width: 1rem;
  height: 1rem;

  margin-top: 0.5rem;

  border-radius: 50%;

  &:nth-of-type(1) {
    background: rgba(0,247,165,1);

    &.active {
      box-shadow: 0 0 8px 2px rgba(0,247,165,1);

    }
  }

  &:nth-of-type(2) {
    background: rgba(247,0,148,1);

    &.active {
      box-shadow: 0 0 8px 2px rgba(247, 0, 148,1);
    }
  }

  &:nth-of-type(3) {
    background: rgba(0,255,255,1);

    &.active {
      box-shadow: 0 0 8px 2px rgba(0, 255, 255,1);
    }
  }

  &:nth-of-type(4) {
    background: rgba(255, 255, 0, 1.0);

    &.active {
      box-shadow: 0 0 8px 2px rgba(255, 255, 0,1);
    }
  }

  &:nth-of-type(5) {
    background: linear-gradient(to right, rgba(0,247,165,1), rgba(0,255,255,1), rgba(247,0,148,1), rgba(255, 255, 0, 1.0));

    &.active {
      box-shadow: 0 0 8px 2px #ffffff;
    }
  }
}
