@use './vars.scss';

.main {
  box-sizing: border-box;
  min-height: $main-height; 
 
  padding: 0.5em 0;
  
  background-image: url(../assets/bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@import './start.scss';
@import './toys.scss';
@import './game.scss';
