.main {
  min-height: calc(100vh - 100px);
 
  padding: 1rem 1rem;
  
  background-image: url(../assets/bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;

  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.filter {
  flex-grow: 1;
}

.filter:nth-of-type(2) {
  margin-left: 1rem;
  margin-right: 1rem;
}

.filter, .toy-card {
  border-radius: 10px;
  background-color: rgba(31, 112, 127, .3);
  padding: 1rem;
  backdrop-filter: blur(2px);
}

.filter__title {
  display: block;
}

.filter__title, .filter__subtitle, .property-title {
  margin: 0.5rem;
}

@import './valueFilter.scss';
@import './rangeFilter.scss';
@import './sortFilter.scss';
@import './toysContainer.scss';
@import './toyCard.scss';
