.toy-card {
  display: flex;
  flex-direction: column;
  
  align-items: flex-end;

  width: 250px;
  height: 220px;

  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: center left;
  border: 1px solid #278d9f;
}

.toy-title {
  align-self: flex-start;
}

@media (max-width: 1024px) {
  .toy-card {
    width: 200px;
    height: 180px;

    font-size: 0.8rem;
  }
}
