.filter__container_value {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1em;
}

.filter__container_value:first-of-type {
  padding-top: 0;
}

.filter__button_value {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.9em;
  background-color: transparent;
  border: none;
}

.colors .filter__button_value {
  margin-left: 0.9em;
  margin-right: 0;
}

.filter__button_value.active img {
  filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
}

.filter__button_color.active::after {
  position: relative;
  top: -3px;
  left: -4px;
  content: "\2713";
  font-size: 1.2rem;
  color: #121c1e;
}

.filter-button__image {
  width: 1.2rem;
  height: 1.2rem;
}

.sizes .filter__button_value:nth-of-type(1) img {
  width: 1.5rem;
  height: 1.5rem;
}

.sizes .filter__button_value:nth-of-type(2) img {
  width: 1.35rem;
  height: 1.35rem;
}
