.filter__container_value {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter__button_value {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  background-color: transparent;
  border: none;
}

.filter__button_value.active img {
  filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
}

.filter__button_color.active::after {
  position: relative;
  top: -3px;
  left: -4px;
  content: "\2713";
  font-size: 1.2rem;
  color: #121c1e;
}

.filter-button__image {
  width: 1.2rem;
  height: 1.2rem;
}

.size .filter-button__image:first-of-type {
  width: 1.5rem;
  height: 1.5rem;
}
