.range-filter {
  border-radius: 10px;
  background-color: rgba(31, 112, 127, .3);
  padding: 1rem;
  backdrop-filter: blur(2px);
}

.range-filter__title, .range-filter__subtitle {
  margin: 0.5rem;
}

.range-filter__slider-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.range-filter__slider {
  height: 5px;
  width: 100%;
}

.min-range {
  margin-right: 1rem;
}

.max-range {
  margin-left: 1rem;
}

.min-range, .max-range {
  width: 6rem;

  text-align: center;

  padding: 0.2rem;

  border-radius: 20px;
  border: 1px solid #278d9f;
  backdrop-filter: blur(2px);
}

.noUi-connects {
  background: #278d9f;
}

.range-filter__slider .noUi-handle {
  height: 12px;
  width: 12px;
  top: -4px;
  right: -6px; /* half the width */
  border-radius: 9px;
}

.range-filter__slider .noUi-handle::before,
.range-filter__slider .noUi-handle::after {
    display: none;
}
