<section class="range-filter">
  <h3 class="range-filter__title">Фильтры по диапазону</h3>
  <h6 class="range-filter__subtitle">Количество экземпляров:</h6>
  <div class="range-filter__slider-container">
    <span class="min-range count"></span>
    <div class="range-filter__slider slider-count" id="count"></div>
    <span class="max-range count"></span>
  </div>
  <h6 class="range-filter__subtitle">Год приобретения:</h6>
  <div class="range-filter__slider-container">
    <span class="min-range year"></span>
    <div class="range-filter__slider slider-year" id="year"></div>
    <span class="max-range year"></span>
  </div>
</section>