.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer__img {
  height: 40px;
}