<div class="game-page">
  <aside class="left">
    <div class="settings">
      <button class="settings-button sound"></button>
      <button class="settings-button snow"></button>
    </div>
    <div class="tree-selection">
      <h3 class="game-title">ВЫБЕРИТЕ ЁЛКУ</h3>
    </div>
    <div class="background-selection">
      <h3 class="game-title">ВЫБЕРИТЕ ФОН</h3>
    </div>
    <div class="lights-selection">
      <h3 class="game-title">ГИРЛЯНДА</h3>
    </div>
    <div class="option-selection">
      <button class="option-button save">Coxранить</button>
      <button class="option-button reset">Cбросить настройки</button>
    </div>
  </aside>
  <section class="stage">
    <div class="tree"></div>
  </section>
  <aside class="right">
    <div class="toy-selection">
      <h3 class="game-title">ИГРУШКИ</h3>
    </div>
    <div class="completed">
      <h3 class="game-title">ВЫ НАРЯДИЛИ</h3>
      <div class="completed__container">
        <div class="completed-trees"></div>
      </div>
    </div>
  </aside>
</div>